# --
# Copyright (C) 2012-2018 Znuny GmbH, http://znuny.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain">

    <h1>[% Translate("Customer Map") | html %]</h1>

[% RenderBlockStart("TicketBack") %]
      <a href="[% Env("Baselink") %][% Env("LastScreenView") %]" onmouseover="window.status=[% Translate("Back") | JSON %]; return true;" onmouseout="window.status='';" class="menuitem">[% Translate("Back") | html %]</a>
[% RenderBlockEnd("TicketBack") %]

    <div class="ContentColumn">
    [% Data.Map %]
    </div>
</div>
